@import '../styles/base';

.form-fifo {
	@include flex-column-center;
	@include color;
  // justify-content: space-between;
	width: 90%;
  // overflow-y: auto;
	
	& .process-section,
	& .options-section {
		@include flex-column-center;
    height: auto;
		width: 100%;		
	}	

  & .back {
    width: 95%;
    @include flex-row-center;
    justify-content: flex-start;

  }
}

.back-home {
  @include flex-column-center;
  padding: 1em;
}

.options {
	@include flex-row-center;
	& .opt {
		margin: 0 .5em;

		& > p {
			margin-bottom: .5em;
		}
	}
	margin-bottom: 1em;
}

.section-title {
	// font-size: 28px;
  font-size: 1.6em;
	width: 80%;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	margin-bottom: .5em;
	text-align: end;
}

.processes-list {
  width: 70%;
  height: 20%;
	@include flex-row-center;
  justify-content: space-around;
	@include inner-shadow(3px, 10px);
	margin-bottom: 2em;
	padding: 1em 1em .5em 1em;
	border-radius: 1em;

    & .process-item {
		  margin: .5em 1em;
    }
}


.blur { 
  filter: blur(4px);
  transition: filter .3s ease-in-out;

  &-content {
    @include flex-column-center;
    width: 100%;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    border: none;
  }
}

.range-input {
  // width: 300px;
  width: 20em;
  // height: 45px;
  height: 3em;
  padding: 20px;
  border-radius: 10px;
  @include color;
  @include outer-shadow(2px, 8px);
  
  @mixin track-style {
	  display: flex;
	  align-items: center;
	  height: 20px;
	  border-radius: 10px;
	  @include inner-shadow(2px, 5px);
  }

  @mixin thumb-style {
    position: relative;
    top: -20%;
    // width: 32px;
    // height: 32px;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
	@include outer-shadow(3px, 4px);
	@include color;
  }

  &::-webkit-slider-runnable-track {
    @include track-style;
  }
  &::-webkit-slider-thumb {
    @include thumb-style;
  }
  &::-moz-range-track {
    @include track-style;
  }
  &::-moz-range-thumb {
    @include thumb-style;
  }
}

