@import '../styles/base';

.process-form {
    border: none;
    border-radius: 16px;
    padding: .5em 2em;
    @include flex-column-center;
    // @include color;
    // @include outer-shadow(6px, 10px);

    & span {
        font-size: 16px;
    }
}


.processes-list {
    @include flex-row-center;

    & .process-item {
        margin: 8px;
    }
}