@import '../../styles/base';

.circle-table {
    position: relative;
    width: 1px;
    height: 1px;
}

.circle-container {
    @include color;
    @include outer-shadow(4px, 10px);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    
}

.circle-slot {
    @include flex-column-center;
    // width: 100px;
    width: 6em;
    // height: 40px;
    height: 2.5em;
    border-radius: 8px;
    @include color;
    @include inner-shadow(4px, 6px);
    top: calc(50% - 1em);
    left: calc(50% - 3em);
    transform: translate(50%, 50%);
    position: absolute;
    text-align: center;
    vertical-align: center;
}

.circle-arrow {
    position: absolute;
    top: 4;
    left: 4px;
    @include color;
    transform-origin: center top;

    &:before {
        position: absolute;
        height: 100%;
        width: 8px;
        content: '';
        border-radius: 1em;
        @include inner-shadow(4px, 6px);
    }
}