@import '../../styles/base';
@import '../../styles/animations';

.table {
    @include flex-column-center;
    // max-width: 80%;
    width: 12em;
    max-height: calc(100vh - 100px);
    
    &__title {
        margin-bottom: 8px;
        text-align: center;
    }
    
    &__content { 
        border-radius: 16px;
        @include flex-column-center;
        justify-content: flex-start;
        padding: 8px 4px;
        width: 100%;
        height: 100%;
        @include outer-shadow(3px, 6px);
        // min-height: 100px;
        overflow-y: auto;
        @include scroll-bar;
    }

    &__item {
        @include flex-row-center;
        border-radius: 16px;
        width: 90%;
        // height: 42px;
        height: 2.8em;
        @include inner-shadow(3px, 6px);
        padding: 6px;
        margin-bottom: 8px;
        // &.used {
        //     // color: red;
        //     // animation: appear 1s ease-in-out;
        // }
    }
}